<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TIMSAN MAILING APP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
</head>
<body>
<ul id="nav">
        <li class="list list1"><a href="/">Home</a></li>
        <%if(!userLogin){%>
            <li class="list list2"><a href="/user/login">login</a></li>
            <li class="list list3"><a href="/user/signup">signup</a></li>
            <li class="list list3"><a href="/admin/signin">admin</a></li>
            <li class="list list4"><a href="/adminlogout">adminlogout</a></li> 
       <% }else{%>
            <li class="list list4"><a href='#'><%=userLogin.toLowerCase()%></a></li> 
            <li class="list list4"><a href='/allmembers'>all</a></li>             
            <li class="list list4"><a href="/userlogout">logout</a></li>
            <li class="list list4"><a href="/adminlogout">adminlogout</a></li>          
        <%}%>
</ul>
<div id="lastback_img"> 
    <div id="lastcontent">
        <fieldset id="allhobby_fieldset"> 
            <h1> these are some of your hobbies:</h1>  
            <%message.forEach(function(message){%>
            <div id="hobby_fieldset">
                <div>
                <img src="../imgs/arr.svg" alt="landding img" width="20px" class="userimg">   
                </div>
            <%=message.message%>
            <span id="date">  => Date Added:<%=message.date.toDateString()%></span>           
            </div>
            <%})%>
            <form action="/allmembers" method="POST">
                 <ul id="hobbyForm">
                    <h2 id="hobbytop">SEND A NEW MESSAGE:</h2>    
                     <textarea name="message" id="" cols="" rows="" placeholder="hobbies" class="hobbyinput commentinput2" ></textarea>
                    <li><input type="submit" value="Send Message" id="hobbybut"></li>
                 </ul>
            </form>
        </fieldset>   
    </div>
</div>
</body>
</html>