<% include partials/header%>
<fieldset id="allhobby_fieldset"> 
      <h1> these are some of your hobbies:</h1>  
        <%message.forEach(function(message){%>
        <div id="hobby_fieldset">
                <div>
            <img src="../imgs/arr.svg" alt="landding img" width="20px" class="userimg">   
                    </div>
                <%=message.message%>
                <span id="date">Date Added:<%=message.date.toDateString()%></span>
                
    </div>
        <%})%>
    <form action="/allmembers" method="POST">
    <ul id="hobbyForm">
            <h2 id="hobbytop">SEND A NEW MESSAGE:</h2>    
            <textarea name="message" id="" cols="" rows="" placeholder="hobbies" class="hobbyinput commentinput2" ></textarea>
            <li><input type="submit" value="Send Message" id="hobbybut"></li>
        </ul>
        </form>
    </fieldset>
<% include partials/footer%>