<!DOCTYPE html>
<html lang="en">
    <head>
        <title>templated mail</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
 <div style="color:orange;background-repeat:background-size: contain;font-family:'Open Sans', sans-serif;">
       <div style="font-size:20px;">
            Hi <%=name.toUpperCase()%>
       </div>
    <div style="font-size:16px;">
        <%=mailMessage.toLowerCase()%>
    </div>
</div>
    
 
 </body>
</html>